<% content_for :section, "chair_support" %>

<div id="chair_support" class="right_column">
  <%= image_tag "/assets/app/front/img/opc-apadrinabutaca.png", :class => "image_decoration" %>

  <h2>Apadrina una butaca</h2>

  <p>
    Son ellas. Compañeras silenciosas que te han respaldado en infinidad
    de aventuras. En ellas te has reído, las has estrujado cuando tenías
    miedo, han soportado tus llantos... ¿No crees que ya va siendo hora
    de agradecérselo?
  </p>

  <h3>¡Apadrina una butaca!</h3>

  <p>
    Por 180€ al año, una butaca de CineCiutat llevará tu nombre.
    Para que puedan seguir siendo cómplices de tus emociones por
    mucho tiempo.
  </p>

  <%= image_tag "/assets/app/front/img/precio-butaca-esp.png" %>


  <div class="form">
    <%= form_for [:front, Donation.new(:kind => Donation::KINDS[:chair_support])] do |f| %>
      <%= f.hidden_field :kind %>
      <%= f.text_field :chair_name %>
      <%= f.submit "Apadrinar butaca >", :class => "button" %>
    <% end %>
  </div>

</div>
