<% content_for :section, "chair_support" %>

<div id="chair_support" class="right_column">
  <%= image_tag "/assets/app/front/img/opc-apadrinabutaca.png", :class => "image_decoration" %>

  <h2><%= t("views.chair_support.title") %></h2>

  <%= t("views.chair_support.text").to_md %>

  <%= image_tag "/assets/app/front/img/precio-butaca-esp.png" %>

  <div class="form">
    <%= form_for [:front, Donation.new(:kind => Donation::KINDS[:chair_support])] do |f| %>
      <%= f.hidden_field :kind %>
      <%= f.text_field :chair_name, :placeholder => t("views.chair_support.form_placeholder"), :required => true %>
      <%= f.submit "#{t("views.chair_support.form_button")} &gt;", :class => "button" %>
    <% end %>
  </div>

</div>
