<% content_for :section, "cinecitarios" %>

<div id="cinecitarios" class="right_column">
  <div class="image_decoration"></div>
  <%= image_tag "/assets/app/front/img/opc-cinecitarios.png", :class => "image_decoration" %>

  <h2><%= t("views.cinecitarios.title") %></h2>

  <%= t("views.cinecitarios.text").to_md %>

  <ul class="badges">
    <% [5, 15, 30, 50].each do |donation_amount| %>
      <li>
        <div>
          <div class="price">
            <span class="number"><%= donation_amount %></span>
            €uros
          </div>
          <div class="text">
            <h3><%= t("donations.donation_#{donation_amount}.title") %></h3>
            <p><%= t("donations.donation_#{donation_amount}.text") %></p>
          </div>
          <div class="clear"></div>
          <div class="link">
            <%= form_for [:front, Donation.new(:kind => Donation::KINDS[:"donation_#{donation_amount}"])], :html => { :id  => "form_donation_#{donation_amount}" } do |f| %>
              <%= f.hidden_field :kind %>
              <%= link_to "Hacer donacion >", "#donation", :onclick => "$('#form_donation_#{donation_amount}').submit()" %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="clear"></div>

  <h4>¿Cómo realizar las aportaciones?</h4>

  <p>
    Las aportaciones se realizan por transferencia bancaria en el número de cuenta que os indicamos a continuación.
  </p>

  <p class="big">
    Caixa Colonya: 2056-0007-85-4102001438
  </p>

  <p>
    Puedes acercarte a recoger tu obsequio a las taquillas de CineCiutat en horario comercial, con tu DNI y el justificante de pago.
  </p>
</div>
