<% title t("views.cinecitarios.title") %>
<% content_for :section, "cinecitarios" %>

<div id="cinecitarios" class="right_column">
  <div class="image_decoration"></div>
  <%= image_tag "/assets/app/front/img/opc-cinecitarios.png", :class => "image_decoration" %>

  <h2><%= t("views.cinecitarios.title") %></h2>

  <%= t("views.cinecitarios.text").to_md %>

  <ul class="badges">
    <% [5, 15, 30, 50].each do |donation_amount| %>
      <li>
        <div>
          <div class="left_column">
            <div class="price">
              <span class="number"><%= donation_amount %></span>
              €uros
            </div>
            <div class="link">
              <%= form_for [:front, Donation.new(:kind => Donation::KINDS[:"donation_#{donation_amount}"])], :html => { :id  => "form_donation_#{donation_amount}" } do |f| %>
                <%= f.hidden_field :kind %>
                <%= link_to t("views.cinecitarios.donation_link"), "#donation", :onclick => "$('#form_donation_#{donation_amount}').submit()" %>
              <% end %>
            </div>
          </div>
          <div class="right_column">
            <h3><%= t("donations.donation_#{donation_amount}.title") %></h3>
            <div class="text"><%= t("donations.donation_#{donation_amount}.text").to_md %></div>
            <div class="rewards"><%= t("donations.donation_#{donation_amount}.rewards").to_md %></div>
          </div>
          <div class="clear"></div>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="clear"></div>

  <h4><%= t("views.cinecitarios.how_to_donate.title") %></h4>

  <%= t("views.cinecitarios.how_to_donate.text").to_md %>
</div>
