<% content_for :section, "home" %>

<div id="home" class="right_column">
  <%= t("views.home.text_1").to_md %>

  <div id="player">
    <iframe
      width="640"
      height="390"
      src="<%= t("views.home.video_url") %>"
      frameborder="0"
      allowfullscreen></iframe>
  </div>

  <%= t("views.home.text_2").to_md %>
</div>

<div id="home_menu">
  <div class="item member">
    <h1><%= t("views.home.members_block.title") %></h1>
    <%= t("views.home.members_block.text").to_md %>
    <div class="controls">
      <%= link_to "#{t("views.home.members_block.link")} >", "http://socis.cineciutat.org", :class => "button", :target => "_blank" %>
    </div>
  </div>

  <div class="item chair">
    <h1><%= t("views.home.chair_support_block.title") %></h1>
    <%= t("views.home.chair_support_block.text").to_md %>
    <div class="controls">
      <%= link_to "#{t("views.home.chair_support_block.link")} >", front_page_path("chair_support"), :class => "button" %>
    </div>
  </div>

  <div class="item cinecitario">
    <h1><%= t("views.home.cinecitarios_block.title") %></h1>
    <%= t("views.home.cinecitarios_block.text").to_md %>
    <%= t("views.shared.filmin_collaboration").to_md %>
    <div class="controls">
      <%= link_to "#{t("views.home.cinecitarios_block.link")} >", front_page_path("cinecitarios"), :class => "button" %>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div id="thanks" style="display:none;">
  <div id="thanks_content">
    <h1>
      <span class="hide">Yo tengo un cine</span>
      <%= image_tag "/assets/app/front/img/#{t("views.header.title_image")}" %>
    </h1>

    <div class="text">
      <h2>
        <span class="hide">Te da las gracias</span>
        <%= image_tag "/assets/app/front/img/#{t("views.thanks_popup.title_image")}" %>
      </h2>

      <%= t("views.thanks_popup.text").to_md %>

      <div class="links">
        <%= link_to t("views.thanks_popup.button_close"), "#close", :onclick => "$.facebox.close();", :class => "button" %>
        <%= link_to t("views.thanks_popup.button_cineciutat"), "http://cineciutat.org", :class => "button" %>
      </div>
    </div>
  </div>
</div>

<% if params[:thanks]%>
  <script>
    jQuery.facebox({ div: '#thanks' });
  </script>
<% end %>