<% content_for :section, "home" %>

<div id="home" class="right_column">
  <%= t("views.home.text_1").to_md %>

  <div id="player">
    <%= image_tag "/assets/app/front/img/video.jpg" %>
  </div>

  <%= t("views.home.text_2").to_md %>
</div>

<div id="home_menu">
  <div class="item member">
    <h1><%= t("views.home.members_block.title") %></h1>
    <%= t("views.home.members_block.text").to_md %>
    <%= link_to "#{t("views.home.members_block.link")} >", "http://socis.cineciutat.org", :class => "button" %>
  </div>

  <div class="item chair">
    <h1><%= t("views.home.chair_support_block.title") %></h1>
    <%= t("views.home.chair_support_block.text").to_md %>
    <%= link_to "#{t("views.home.chair_support_block.link")} >", front_page_path("chair_support"), :class => "button" %>
  </div>

  <div class="item cinecitario">
    <h1><%= t("views.home.cinecitarios_block.title") %></h1>
    <%= t("views.home.cinecitarios_block.text").to_md %>
    <%= link_to "#{t("views.home.chair_support_block.link")} >", front_page_path("cinecitarios"), :class => "button" %>
  </div>

  <div class="clear"></div>
</div>