<meta charset="utf-8">

<title><%= t("views.header.title") %> <%= content_for?(:title) ? "| #{yield(:title)}" : "" %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <link rel="icon" type="image/jpeg" href="/assets/app/front/img/favicon.jpg"> -->

<meta name="description" content="YoTengoUnCine official website">
<meta name="keywords" content="YoTengoUnCine">
<meta http-equiv="content-language" content="en">

<meta name="copyright" content="YoTengoUnCine">
<meta name="author" content="YoTengoUnCine">
<meta name="Distribution" content="Global">
<meta name="Rating" content="General">
<meta name="Robots" content="INDEX,FOLLOW">


<%= javascript_include_tag "/assets/vendor/jquery/jquery.js" %>

<!-- plugins -->
<%= stylesheet_link_tag "/assets/vendor/zocial/zocial.css", :media => "all" %>
<%= javascript_include_tag "/assets/vendor/facebox/facebox.js" %>
<%= stylesheet_link_tag "/assets/vendor/facebox/facebox.css", :media => "all" %>

<!-- Anything Slider -->
<%= javascript_include_tag "/assets/vendor/anything_slider/js/swfobject.js" %>
<%= javascript_include_tag "/assets/vendor/anything_slider/js/jquery.anythingslider.js" %>
<%= javascript_include_tag "/assets/vendor/anything_slider/js/jquery.anythingslider.video.js" %>
<%= stylesheet_link_tag "/assets/vendor/anything_slider/themes/css/theme-mini-light.css", :media => "all" %>
<!-- <link rel="stylesheet" href="themes/css/wrappers.css"> -->

<!-- application -->
<%= stylesheet_link_tag "/assets/app/front/css/reset.css", :media => "all" %>
<%= stylesheet_link_tag "/assets/app/front/css/front.css", :media => "all" %>
<%= stylesheet_link_tag "/assets/app/front/css/buttons.css", :media => "all" %>

<%= csrf_meta_tag %>
<%= yield(:head) %>
