<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/front/header" %>
  </head>

  <body>
    <div id="wrapper" class="<%= yield :section %>">

      <header id="header">
        <div class="container right_column">
          <%= link_to "http://cineciutat.org" do %>
            <h2>CineCiutat</h2>
          <% end %>

          <div class="menu">
            <ul>
              <li><%= link_to t("views.header.menu.be_a_member"), "http://socis.cineciutat.org", :target => "_blank" %></li>
              <li class="<%= menu_class(:chair_support) %>"><%= link_to t("views.header.menu.chair_support"), front_page_path("chair_support") %></li>
              <li class="<%= menu_class(:cinecitarios) %>"><%= link_to t("views.header.menu.cinecitarios"), front_page_path("cinecitarios") %></li>
            </ul>
          </div>

          <div class="languages">
            <ul>
              <li class="<%= "disabled" if(I18n.locale == :es) %>"><%= link_to "español", url_for(params.merge(:locale => :es)) %></li>
              <li class="<%= "disabled" if(I18n.locale == :ca) %>"><%= link_to "català", url_for(params.merge(:locale => :ca)) %></li>
            </ul>
          </div>

          <div class="social">
            <ul>
              <li><%= link_to "facebook", "https://www.facebook.com/CineCiutat", :class => "zocial icon facebook" %></li>
              <li><%= link_to "twitter", "https://twitter.com/CineCiutat", :class => "zocial icon twitter", :target => "_blank" %></li>
              <!-- <li><%= link_to "google", "#google", :class => "zocial icon google" %></li> -->
            </ul>
          </div>

          <%= link_to :root do %>
            <h1>Yo tengo un cine</h1>
          <% end %>
        </div>

        <div class="clear"></div>
      </header>

      <div id="content" class="container">
        <h1 class="page-title"><%= yield(:title) %></h1>
        <%= yield %>
      </div>

      <footer id="footer">
        <div class="container">
          <div class="copyright">#Yotengouncine 2013</div>

          <div class="menu">
            Colaboradores:
            <ul>
              <li><%= link_to "Sendos Creaciones", "http://sendos.net/", :target => "_blank" %></li>
              <li><%= link_to "MkLab Ideas", "http://mklab.es/", :target => "_blank" %></li>
              <li><%= link_to "fguillen Desarrollo", "http://fernandoguillen.info", :target => "_blank" %></li>
            </ul>
          </div>

        </div>

        <div class="clear"></div>
      </footer>
    </div><!-- wrapper -->

    <%= render "shared/analytics" %>
  </body>
</html>

