<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/front/header" %>
  </head>

  <body>
    <div id="wrapper" class="<%= yield :section %>">

      <header id="header">
        <div class="container right_column">
          <h2>CineCiutat</h2>

          <div class="menu">
            <ul>
              <li><%= link_to "Hazte socio", "#hazte_socio" %></li>
              <li><%= link_to "Apadrina una butaca", "#apadrina" %></li>
              <li><%= link_to "Cinecitarios", "#cinecitarios" %></li>
            </ul>
          </div>

          <div class="languages">
            <ul>
              <li><%= link_to "español", "#espanol" %></li>
              <li><%= link_to "catalá", "#catala" %></li>
            </ul>
          </div>

          <div class="social">
            <ul>
              <li><%= link_to "facebook", "#facebook", :class => "zocial icon facebook" %></li>
              <li><%= link_to "twitter", "#twitter", :class => "zocial icon twitter" %></li>
              <li><%= link_to "google", "#google", :class => "zocial icon google" %></li>
            </ul>
          </div>

          <h1>Yo tengo un cine</h1>
        </div>

        <div class="clear"></div>
      </header>

      <div id="content" class="container">
        <h1 class="page-title"><%= yield(:title) %></h1>
        <%= yield %>
      </div>

      <footer id="footer">
        <div class="container">
          <div class="copyright">#Yotengouncine 2013</div>

          <div class="menu">
            Colaboradores:
            <ul>
              <li><%= link_to "Logo", "#logo" %></li>
              <li><%= link_to "Logo", "#logo" %></li>
              <li><%= link_to "Logo", "#logo" %></li>
            </ul>
          </div>

        </div>

        <div class="clear"></div>
      </footer>
    </div><!-- wrapper -->

    <%= render "shared/analytics" %>
  </body>
</html>

